---
layout: tataletak.njk
---
<div class="galeri">
	<h1 class="judul-galery">Gallery</h1>
	<img src="/assets/galeri1.jpg">
	<img src="/assets/galeri2.jpg">
	<img src="/assets/galeri3.jpg">
	<img src="/assets/galeri4.jpg">
	<img src="/assets/galeri5.jpg">
	<img src="/assets/galeri6.jpg">
</div>