<nav>
	<ul>
		<li>
			<a href="/">
				Home
			</a>
		</li>
		<li>
			<a href="/tentang/14116172">
				Profile
			</a>
		</li>
		<li>
			<a href="/galeri/14116172">
				Gallery
			</a>
		</li>
	</ul>
</nav>