---
layout : tataletak.njk
nama : Mu'minatul Faizah
nim : 14116172
ttl : Poncowarno, 25 - 11 - 1998
alamat : Lampung Tengah
prodi : Teknik Informatika
jurusan : Jurusan Teknologi Produksi dan Industri
kampus : Institut Teknologi Sumatera
---
<h1>Profile</h1>
<div class="box-profile">
	<a href="#"><img src="/assets/profil.jpg" class="img-bio"></a>
	<br>
	<div class="info">
		<p> Nama = {{nama}} </p>
		<p> NIM = {{nim}} </p>
		<p>Tempat Tanggal Lahir = {{ttl}}</p>
		<p>Alamat = {{alamat}}</p>
		<p>Program Studi = {{prodi}}</p>
		<p>Jurusan = {{jurusan}}</p>
		<p>Kampus = {{kampus}}</p>	
	</div>
</div>
